<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button [text]="getBackButtonText()" defaultHref="/">xxxx</ion-back-button>
    </ion-buttons>  <ion-title>
      Student Info 
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="message">
  <ion-item>
    <ion-icon name="person-circle" color="primary"></ion-icon>
    <ion-label class="ion-text-wrap">
      <h2>
        {{ message.fromName }}
        <span class="date">
          
        </span>
      </h2>
      
      <h3> <ion-note>Bachelor Of Computer Science (Data Engineering)</ion-note></h3>
      <h3> Matric No.: <ion-note>A17CS0006</ion-note></h3>
      <h3> AA:<ion-note></ion-note>Dr Eiliyah Wong</h3>
      <h3> Type Of Study:<ion-note>Taught Course(Full Time)</ion-note></h3>
      <h3> E-mail:<ion-note></ion-note></h3>
      <h3> Phone:<ion-note>01139539907</ion-note></h3>


    </ion-label>
  </ion-item>
  
  <div class="ion-padding">
    <h1>Basic Information</h1>
    
      <h3> E-mail (Official): <ion-note></ion-note></h3>
      
      <h3> Date of Birth:<ion-note>31 Dec 1998</ion-note></h3>
      <h3> State of Birth:<ion-note>08-Perak</ion-note></h3>
      <h3> Nationality:<ion-note>MAL-Malaysia</ion-note></h3>
      <h3> I.C/ACID No.: <ion-note>981231086042</ion-note></h3>
      <h3> Religion:<ion-note>1-Islam</ion-note></h3>
      <h3> Gender:<ion-note>P-Female</ion-note></h3>
      <h3> Marriage Status:<ion-note>1-Single</ion-note></h3>
      <h3> Contact No. EDITABLE:<ion-note><ion-input clearInput value="012-5858703"></ion-input></ion-note></h3>
      <h3> E-mail (Secondary) EDITABLE:<ion-note><ion-input clearInput value="ainsyahzanani@gmail.com"></ion-input></ion-note></h3>
  </div>
  
  <ion-button>

    UPDATE
    
  </ion-button>
  
</ion-content>
