
<ion-item *ngIf="message" [routerLink]="'/message/' + message.id" [detail]="false">
  
  <ion-button class="ion-text-wrap">
    <ion-button>

      LOG IN 
      
    </ion-button>
    
  </ion-button>
  </ion-item>
  <ion-content> sss </ion-content>
  