<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Upload data 
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  
  <ion-content [fullscreen]="true"> <ion-note> <ion-content color="primary" padding>
    <form #form="ngForm" (ngSubmit)="login(form)">
      <ion-grid>
        <ion-row color="primary" justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <div text-center>
              <ion-button color="dark" >Back</ion-button>
              <h3>Student data</h3>
            </div>
            <div padding>
              <ion-item>
                <ion-input name="email" type="email" placeholder="save as" ngModel required></ion-input>
              </ion-item>
              <input type="file" accept="image/*" capture="camera" (change)="onFileSelected($event)" id="fileInput"/>
  <label for="fileInput" icon-only ion-button>
    <div padding></div>
      <ion-button color="light">upload </ion-button>
  </label>
  
            </div>
            <div padding>
              
              
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-content></ion-note>
    <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    
    
    
    <ion-list>
      <app-message *ngFor="let message of getMessages()" [message]="message"></app-message>
    </ion-list>
  </ion-content>