<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Menu
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true"> <ion-note> <ion-content color="primary" padding>
  <form #form="ngForm" (ngSubmit)="login(form)">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <ion-button color="dark">Log Out</ion-button>
            <h1 color="tertiary">Staff Account</h1>
            <h6>Username: Staff1</h6>
          </div>
         
            
    <ion-button color="light" size="full">Import File</ion-button>
    <ion-button color="light" size="full">Manage Student</ion-button>
    <ion-button color="light" size="full">Update Student Details</ion-button>


          
          <div padding>
            
            
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content></ion-note>
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  
  
  <ion-list>
    <app-message *ngFor="let message of getMessages()" [message]="message"></app-message>
  </ion-list>
</ion-content> 