<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Login 
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  
  <ion-content [fullscreen]="true"> <ion-note> <ion-content color="primary" padding>
    <form #form="ngForm" (ngSubmit)="login(form)">
      <ion-grid>
        <ion-row color="primary" justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <div text-center>
              <h5>Username</h5>
            </div>
            <div padding>
              <ion-item>
                <ion-input name="email" type="email" placeholder="username" ngModel required></ion-input>
              </ion-item>
              <h5>Password</h5>
            </div>
            <div padding>
              <ion-item>
                <ion-input name="email" type="password" placeholder="password" ngModel required></ion-input>
              </ion-item>
              
      <ion-button color="light">Log In</ion-button>
  
  
            </div>
            <div padding>
              
              
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-content></ion-note>
    <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    
    
    
    <ion-list>
      <app-message *ngFor="let message of getMessages()" [message]="message"></app-message>
    </ion-list>
  </ion-content>